# Test Report

- Total: 44
- Passed: 24
- Failed: 20

## ✅ Pos_Fun_0001 - eppothum naangal gavanamaaga iruppathu avasiyam
- Status: passed
- Duration(ms): 8757
- Attachment: test-data

## ✅ Pos_Fun_0002 - nee naalakku kandi poviya?
- Status: passed
- Duration(ms): 6977
- Attachment: test-data

## ✅ Pos_Fun_0003 - indaiku naan office mudinju sapida poram 
- Status: passed
- Duration(ms): 9166
- Attachment: test-data

## ✅ Pos_Fun_0004 - naan padippen appuram vela seiven
- Status: passed
- Duration(ms): 13533
- Attachment: test-data

## ✅ Pos_Fun_0005 - indaiku weather nallaa irukku adhaan naan veliya ponen
- Status: passed
- Duration(ms): 15258
- Attachment: test-data

## ✅ Pos_Fun_0006 - Diltan arumai uncle ien makan
- Status: passed
- Duration(ms): 13879
- Attachment: test-data

## ✅ Pos_Fun_0007 - Shiromy romba azhaga irukkaa
- Status: passed
- Duration(ms): 7144
- Attachment: test-data

## ✅ Pos_Fun_0008 - Nee eppo assignment submit seiyappogirai?
- Status: passed
- Duration(ms): 8459
- Attachment: test-data

## ✅ Pos_Fun_0009 - naan maama voda kadalukku poren
- Status: passed
- Duration(ms): 13619
- Attachment: test-data

## ✅ Pos_Fun_0010 - Athithya enai nesikum oru anpu sakothari
- Status: passed
- Duration(ms): 13961
- Attachment: test-data

## ✅ Pos_Fun_0011 - naan indaiku oru kadaila saapiden
- Status: passed
- Duration(ms): 15596
- Attachment: test-data

## ✅ Pos_Fun_0012 - Neengal kaalaiyil Eththanai manikku elumbugireergal?
- Status: passed
- Duration(ms): 10862
- Attachment: test-data

## ✅ Pos_Fun_0013 - konjam help panraiya?
- Status: passed
- Duration(ms): 12841
- Attachment: test-data

## ✅ Pos_Fun_0014 - Avan naalai payanam pogiraan
- Status: passed
- Duration(ms): 13093
- Attachment: test-data

## ✅ Pos_Fun_0015 - Nee enka pora
- Status: passed
- Duration(ms): 6759
- Attachment: test-data

## ✅ Pos_Fun_0016 - enaku athu vendam
- Status: passed
- Duration(ms): 12499
- Attachment: test-data

## ✅ Pos_Fun_0017 - indaiku  kapal varukenrathu
- Status: passed
- Duration(ms): 13380
- Attachment: test-data

## ✅ Pos_Fun_0018 - epdi iruka?
- Status: passed
- Duration(ms): 12717
- Attachment: test-data

## ✅ Pos_Fun_0019 - nalaku class Eththanai maniku 
- Status: passed
- Duration(ms): 8383
- Attachment: test-data

## ✅ Pos_Fun_0020 - naan oru manavan 
- Status: passed
- Duration(ms): 7762
- Attachment: test-data

## ✅ Pos_Fun_0021 - Neenkal eaan epadi pakurenkal? 
- Status: passed
- Duration(ms): 7781
- Attachment: test-data

## ✅ Pos_Fun_0022 - Saran epovum sapiduvan
- Status: passed
- Duration(ms): 13487
- Attachment: test-data

## ✅ Pos_Fun_0023 - kovil mani kekum 
- Status: passed
- Duration(ms): 7692
- Attachment: test-data

## ✅ Pos_Fun_0024 - nalaiku padasalai vedumurai
- Status: passed
- Duration(ms): 12774
- Attachment: test-data

## ❌ Neg_Fun_0025 - indaiku kapal varukenrathu
- Status: failed
- Duration(ms): 12563
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"இண்டைக்கு கப்பல் வருகிறது"[39m
Received string:    [31m"இண்டைக்கு கப்பல் வருகின்றது"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0025 - indaiku kapal varukenrathu
- Status: failed
- Duration(ms): 12734
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"இண்டைக்கு கப்பல் வருகிறது"[39m
Received string:    [31m"இண்டைக்கு கப்பல் வருகின்றது"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0026 - enna seyyanum
- Status: failed
- Duration(ms): 11320
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"என்ன செய்யவேண்டும்"[39m
Received string:    [31m"என்ன செய்யணும்"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0026 - enna seyyanum
- Status: failed
- Duration(ms): 13608
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"என்ன செய்யவேண்டும்"[39m
Received string:    [31m"என்ன செய்யணும்"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0027 - avanga office poganum
- Status: failed
- Duration(ms): 13656
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"அவர்கள் ஆபீசுக்கு போகனும்"[39m
Received string:    [31m"அவங்க ஆபீஸ் போகணும்"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0027 - avanga office poganum
- Status: failed
- Duration(ms): 13543
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"அவர்கள் ஆபீசுக்கு போகனும்"[39m
Received string:    [31m"அவங்க ஆபீஸ் போகணும்"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0028 - avan pazhaya car vaangiRaan 
- Status: failed
- Duration(ms): 13366
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"அவன் பழைய கார்வாங்கிறான்"[39m
Received string:    [31m"அவன் பழைய கார் வாங்கிறான்"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0028 - avan pazhaya car vaangiRaan 
- Status: failed
- Duration(ms): 12819
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"அவன் பழைய கார்வாங்கிறான்"[39m
Received string:    [31m"அவன் பழைய கார் வாங்கிறான்"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0029 - enna samayal seivathu
- Status: failed
- Duration(ms): 12723
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"என்ன சமையல் செய்ய்வது"[39m
Received string:    [31m"என்ன சமையல் செய்வது"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0029 - enna samayal seivathu
- Status: failed
- Duration(ms): 12549
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"என்ன சமையல் செய்ய்வது"[39m
Received string:    [31m"என்ன சமையல் செய்வது"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0030 - neenga ready ah irukkeenga
- Status: failed
- Duration(ms): 13331
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"நீங்கள் ரெடி ஆ இருக்கீங்கா"[39m
Received string:    [31m"நீங்க ரெடி ஆஹ் இருக்கீங்க"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0030 - neenga ready ah irukkeenga
- Status: failed
- Duration(ms): 12263
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"நீங்கள் ரெடி ஆ இருக்கீங்கா"[39m
Received string:    [31m"நீங்க ரெடி ஆஹ் இருக்கீங்க"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0031 - avan vanga book?
- Status: failed
- Duration(ms): 11543
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"அவன் வாங்கும் புத்தகம்!"[39m
Received string:    [31m"அவன் வாங்க புக்?"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0031 - avan vanga book?
- Status: failed
- Duration(ms): 11749
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"அவன் வாங்கும் புத்தகம்!"[39m
Received string:    [31m"அவன் வாங்க புக்?"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0032 - naan tea kudikkiren
- Status: failed
- Duration(ms): 12079
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"நான் டீ குடிக்கிறேன்!"[39m
Received string:    [31m"நான் டி குடிக்கிறேன்"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0032 - naan tea kudikkiren
- Status: failed
- Duration(ms): 11895
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"நான் டீ குடிக்கிறேன்!"[39m
Received string:    [31m"நான் டி குடிக்கிறேன்"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0033 - unga veedu periya veedu
- Status: failed
- Duration(ms): 13024
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"உங்க வீடு பெரிய வீடு aa"[39m
Received string:    [31m"உங்க வீடு பெரிய வீடு"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0033 - unga veedu periya veedu
- Status: failed
- Duration(ms): 11976
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"உங்க வீடு பெரிய வீடு aa"[39m
Received string:    [31m"உங்க வீடு பெரிய வீடு"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0034 - ennai marandhutaanga
- Status: failed
- Duration(ms): 13221
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"என்னை மறந்துடாங்க"[39m
Received string:    [31m"என்னை மறந்துட்டாங்க"[39m
- Attachment: test-data
- Attachment: error-context

## ❌ Neg_Fun_0034 - ennai marandhutaanga
- Status: failed
- Duration(ms): 13105
- Error: Error: [2mexpect([22m[31mreceived[39m[2m).[22mtoContain[2m([22m[32mexpected[39m[2m) // indexOf[22m

Expected substring: [32m"என்னை மறந்துடாங்க"[39m
Received string:    [31m"என்னை மறந்துட்டாங்க"[39m
- Attachment: test-data
- Attachment: error-context
