# Test Report

- Total: 24
- Passed: 24
- Failed: 0

## ✅ Pos_Fun_0001 - eppothum naangal gavanamaaga iruppathu avasiyam
- Status: passed
- Duration(ms): 11153
- Attachment: test-data

## ✅ Pos_Fun_0002 - nee naalakku kandi poviya?
- Status: passed
- Duration(ms): 7869
- Attachment: test-data

## ✅ Pos_Fun_0003 - indaiku naan office mudinju sapida poram 
- Status: passed
- Duration(ms): 15869
- Attachment: test-data

## ✅ Pos_Fun_0004 - naan padippen appuram vela seiven
- Status: passed
- Duration(ms): 15957
- Attachment: test-data

## ✅ Pos_Fun_0005 - indaiku weather nallaa irukku adhaan naan veliya ponen
- Status: passed
- Duration(ms): 20770
- Attachment: test-data

## ✅ Pos_Fun_0006 - Diltan arumai uncle ien makan
- Status: passed
- Duration(ms): 32574
- Attachment: test-data

## ✅ Pos_Fun_0007 - Shiromy romba azhaga irukkaa
- Status: passed
- Duration(ms): 15062
- Attachment: test-data

## ✅ Pos_Fun_0008 - Nee eppo assignment submit seiyappogirai?
- Status: passed
- Duration(ms): 9423
- Attachment: test-data

## ✅ Pos_Fun_0009 - naan maama voda kadalukku poren
- Status: passed
- Duration(ms): 13891
- Attachment: test-data

## ✅ Pos_Fun_0010 - Athithya enai nesikum oru anpu sakothari
- Status: passed
- Duration(ms): 14031
- Attachment: test-data

## ✅ Pos_Fun_0011 - naan indaiku oru kadaila saapiden
- Status: passed
- Duration(ms): 14188
- Attachment: test-data

## ✅ Pos_Fun_0012 - Neengal kaalaiyil Eththanai manikku elumbugireergal?
- Status: passed
- Duration(ms): 10012
- Attachment: test-data

## ✅ Pos_Fun_0013 - konjam help panraiya?
- Status: passed
- Duration(ms): 12894
- Attachment: test-data

## ✅ Pos_Fun_0014 - Avan naalai payanam pogiraan
- Status: passed
- Duration(ms): 14095
- Attachment: test-data

## ✅ Pos_Fun_0015 - Nee enka pora
- Status: passed
- Duration(ms): 6742
- Attachment: test-data

## ✅ Pos_Fun_0016 - enaku athu vendam
- Status: passed
- Duration(ms): 13110
- Attachment: test-data

## ✅ Pos_Fun_0017 - indaiku  kapal varukenrathu
- Status: passed
- Duration(ms): 14060
- Attachment: test-data

## ✅ Pos_Fun_0018 - epdi iruka?
- Status: passed
- Duration(ms): 12148
- Attachment: test-data

## ✅ Pos_Fun_0019 - nalaku class Eththanai maniku 
- Status: passed
- Duration(ms): 7991
- Attachment: test-data

## ✅ Pos_Fun_0020 - naan oru manavan 
- Status: passed
- Duration(ms): 5954
- Attachment: test-data

## ✅ Pos_Fun_0021 - Neenkal eaan epadi pakurenkal? 
- Status: passed
- Duration(ms): 8165
- Attachment: test-data

## ✅ Pos_Fun_0022 - Saran epovum sapiduvan
- Status: passed
- Duration(ms): 13555
- Attachment: test-data

## ✅ Pos_Fun_0023 - kovil mani kekum 
- Status: passed
- Duration(ms): 7077
- Attachment: test-data

## ✅ Pos_Fun_0024 - nalaiku padasalai vedumurai
- Status: passed
- Duration(ms): 12891
- Attachment: test-data
